[submodule "third_party/quill"]
	path = third_party/quill
	url = git@github.com:odygrd/quill.git
[submodule "third_party/GenEnum"]
	path = third_party/GenEnum
	url = git@github.com:brano-san/GenEnum.git
